@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

* { /*공통적인 전체 선택자 (*) : 디자인상 방해되는 요소를 미리 제거하거나 기본값 지정 */
    color: #000;
    box-sizing: border-box;
    outline: none;
    font-family: "Noto Sans KR", sans-serif; /*대체폰트임. 공통폰트.. 별도폰트지정시 class 사용*/
}

html {
    font-size: 13px;
    background: #f8f8f8;
}

/* 스타일 초기화 s */ /* 사용자가 편리하게 구분하기 위해 작성하는 것이 좋음. */
body {
    margin: 0 auto;
    max-width: 720px;
    min-width: 360px; /*화면을 줄이더라도 360px 이하로는 줄어들지 않음.*/
    background: #fff;
}

ul, ol, dl, dt, dd{
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

/* 스타일 초기화 E */

/* 공통 스타일 S */
.montserrat {
    font-family: "Montserrat", sans-serif; /*대체폰트*/
}
/* 공통 스타일 E */

/* 헤더 영역 S */
header .site-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 15px; /*좌우여백만 적용*/
}

header .logo img {
    height: 34px;
}

header .site-top i{
    font-size: 2rem;
}

header .site-top .left i{
    margin-right: 10px;
}

header .site-top .right i{
    margin-left: 10px;
}

header nav {
    display: flex; /*flex 속성 적용하면 inline아닌 block레벨이 되어 높이 변경 가능*/
    height: 44px;        
}

header nav a {
    flex-grow: 1;
    width: 0;
    text-align: center;
    line-height: 44px; /*행간 간격*/
}

/* 헤더 영역 E */

/* 메인 배너 영역 S */
.main-banner img{
    width: 100%;
}
/* 메인 배너 영역 E */

/* 서브 메뉴 영역 S */
.sub-menus {
    display: flex;
    flex-wrap: wrap;
}

.sub-menus a {
    width: calc(100% / 3);          /* 연산자 사용할때는 반드시 띄워쓰기 해야함! 붙여쓰면 인식x */
    text-align: center;
    height: 50px;
    line-height: 50px;
}
/* 서브 메뉴 영역 E */
